<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRIMLINGS - <%- pageTitle %></title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
<div class="header">

    <h1 id="logo" onclick="window.location.href = '/'">GRIMLINGS</h1>

    <h2 id="coinCount">Coins: 17</h2>

    <a href='/explore'><button class="headerButton">EXPLORE</button></a>
    <a href='/games'><button class="headerButton">GAMES</button></a>
    <a href='/shop'><button class="headerButton">SHOP</button></a>
    <a href='/inventory'><button class="headerButton">INVENTORY</button></a>

</div>