<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>

<body>
    <center>
        <h1>Welcome to the main menu</h1>
        <button><a href="/">Index</a></button>
        <br>
        <button><a href="/newGame">Start New Game</a></button>

        <!-- <a href="/">Load Game</a> -->
        <center>
</body>
</body>

</html>