<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main Menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <center>
        <h1>Welcome Grimlings</h1>
        <button><a href="/">Home</a></button>
        <br>
        <div class="optionDiv">
            <h3>Games</h3>
            <div>
                <%= user.fb_name %>
                    <div>
                        <button><a href="/game">Launch Game</a></button>
                    </div>
            </div>
        </div>

        <!-- Make this page look like neopets -->

        <!-- <a href="/">Load Game</a> -->
        <center>
</body>
</body>

</html>