<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRIMLINGS</title>
</head>
<body>
    <h1>GRIMLINGS</h1>
    <% if(isLoggedIn) { %>
        <p>Hello, <%= user.fb_name %></p>
        <a href="/menu">Main Menu</a>
    <% } else { %>
        <a href="/user/login">Login</a>
    <% } %>
</body>
</html>