<%- include('../partials/header.ejs', { pageTitle: 'Click For Money' }) %>

    <center>
        <form method="post">
            <button>Search for pets</button>
        </form>
    </center>

    <%- include('../partials/footer.ejs') %>