<%- include('../partials/header.ejs', { pageTitle: 'End Screen' }) %>

    <link rel="stylesheet" href="/css/end.css">

    <div class="container">
        <center>
            <div class="game-over">
                <h1> Game Over </h1>
            </div>
            <button class="retry-button" onclick="window.location.href='/'">Main Menu</button>
        </center>
    </div>

    <%- include('../partials/footer.ejs') %>